.container{
  display: none;
}

#cats:hover {
  cursor: pointer;
  background-color: lightblue;
  margin: auto;
}
#dogs:hover {
  cursor: pointer;
  background-color: lightblue;
  margin: auto;
}
#birds:hover {
  cursor: pointer;
  background-color: lightblue;
  margin: auto;
}

img {
  height: 300px;
}
